[submodule "example/ohos/vendor/openharmony-ability"]
	path = example/ohos/vendor/openharmony-ability
	url = https://github.com/richerfu/openharmony-ability.git
	branch = feat/ohos-adaptation-runtime-fixes
